[Unit]
Description=Honeypot Miniprint
After=network.target docker.service
Requires=docker.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/docker compose -f /home/miniprint/compose.yml up -d --remove-orphans
ExecStop=/bin/docker compose -f /home/miniprint/compose.yml down --remove-orphans
ExecReload=/bin/docker compose -f /home/miniprint/compose.yml restart
WorkingDirectory=/home/miniprint
User=miniprint
Group=miniprint
TimeoutStartSec=120
TimeoutStopSec=60
Restart=on-failure
RestartSec=15s
[Install]
WantedBy=multi-user.target
